html {
  background-color: rgb(99, 64, 22);
}

.presentDog {
  border-color: green;
  background-color: rgba(0, 255, 0, 0.1);
}

.absentDog {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}
